body {
    background-color: #f5f7fa;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Fonts */

.outfit-heading {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* Navbar */
.flashes h4 {
    line-height: 2;
}

/* Modal call button position*/
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #707070;
  }

/* Forms */

.form-outline i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* recipe image */
img {
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}