/* CSS reset */
html {
    scroll-behavior: smooth;
    color: #22333B
}

body {
    background-color: #E3DAC9;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
}

/* Fonts */

.outfit-heading {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* Navbar */
.flashes h4 {
    line-height: 2;
}

/* Modal call button position*/
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #707070;
  }

/* Forms */

.form-outline i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* recipe image */
img {
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

/* Hero */
.masthead {
  background-image: url(/static/images/HERO.jpg);
  background-size: cover;
  background-position: left; 
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

/* Main logo */
.main-logo {
  font-size: 3rem;
  font-weight: 600;
  color: #f1f1f1;
}