/* CSS reset */
html {
    scroll-behavior: smooth;
    color: #22333B
}

body {
    background-color: #AE937E;
    /* background-color: #E3DAC9; */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
}

/* Fonts */

.outfit-heading {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* Navbar */
.flashes h4 {
    line-height: 2;
}

/* Modal call button position*/
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #707070;
  }

/* Forms */

.form-outline i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* recipe image */
img {
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

/* bg image */
.bg-image {
  background-image: url(/static/images/final-hero.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* Hero */
.masthead {
  background-image: url(/static/images/final-hero.jpg);
  background-size: cover;
  background-position: left; 
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

/* Main logo */
.main-logo {
  font-size: 3rem;
  font-weight: 600;
  color: #f1f1f1;
}

/* Navbar Text */
.navbar-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f1f1f1;
}

/*  Hero Image Text */
.hero-text {
  font-size: 2rem;
  font-weight: 600;
  color: #f1f1f1;
}

/* Other Header Text */
.other-header-text {
  font-size: 2rem;
  font-weight: 600;
  color: #f1f1f1;
}

/* Cards */
.card-style {
  background-color: #f1f1f1;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Image Text */
.top-left-image {
  font-size: 1rem;
  font-weight: 400;
  color: #f1f1f1;
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right-image {
  font-size: 1rem;
  font-weight: 400;
  color: #f1f1f1;
  position: absolute;
  top: 8px;
  right: 16px;
}

/* PopUps */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  z-index: 1000;
}

.popup.info { background-color: #007bff; }
.popup.success { background-color: #28a745; }
.popup.error { background-color: #dc3545; }