{% extends "base.html" %}
{% block content %}
<section id="recipes">
    <!-- search bar -->
    <div class="container">
        <h3 class="text-center py-5 mt-2 other-header-text">All Recipes</h3>
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-6">
                <form action="{{ url_for('search_recipes') }}#recipes" method="GET">
                    <div class="input-group search-form-container">
                        <input type="text" class="search-input" id="search" name="search" minlength="3"
                            maxlength="50" placeholder="Search for a recipe..." value="{{ search }}" required>
                        <div class="input-group-append">
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 show-all-container">
                <form action="{{ url_for('all_recipes') }}" method="GET"
                    class="mt-2 search-button justify-content-center">
                    <button type="submit" class="show-all-button">Reset Search</button>
                </form>
            </div>
        </div>
    </div>
    <hr class="my-5">

    {% if search %}
    <div class="container">
        <h2 class="text-center mb-4">Search Results for "{{ search }}"</h2>
        {% if recipes|length > 0 %}
        <p class="text-center">Found {{ recipes|length }} recipes</p>
        {% else %}
        <p class="text-center">No recipes found for "{{ search }}"</p>
        {% endif %}
    </div>
    {% endif %}

    <!-- recipe cards -->
    <div class="col-sm-8 offset-sm-2">
        {% if recipes|length > 0 %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for recipe in recipes %}
            <!-- card content-->
            <div class="col">
                <div class="card card-style h-100 recipe-card rounded">
                    <!-- card image -->
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" alt=""
                            class=" mx-auto d-block" style="height: 400px; width: 100%;">
                        <span class="badge recipe-badge top-left-image text-center ms-0" style="
                            color: var(--text-two);
                            background-color: #E8DFC9;">
                            Prep: {{ recipe.prep_time }} Minutes
                        </span>
                        <span class="badge recipe-badge top-right-image text-center me-0" style="
                            color: var(--text-two);
                            background-color: #E8DFC9;">
                            Cook:
                            {% if recipe.cooking_time == 0 %}
                            <span>0 Minutes</span>
                            {% else %}
                            <span>{{ recipe.cooking_time }} Minutes</span>
                            {% endif %}
                        </span>
                        <span class="col-sm-5 bottom-right-image text-end me-2">
                            <i id="like-container" class="fa-solid fa-cookie-bite p-1" style="color: #F7B65A"></i>
                            <span id="likes_count" class="text-end">
                                {{ recipe.likes }}
                            </span>
                        </span>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="badge-container d-flex justify-content-between mb-2">
                            <span class="badge recipe-badge text-truncate">
                                {{ recipe.category_name }}
                            </span>
                            <span class="badge recipe-badge text-truncate">
                                {{ recipe.meal_type }}
                            </span>
                        </div>
                        <span class="card-title">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                                class="text-start recipe-card-title">
                                {{ recipe.recipe_name }}
                            </a>
                        </span>
                        <div class="col-sm-12">
                            <p class="text-start">{{ recipe.recipe_description }}</p>
                        </div>
                        <p class="pb-1 mt-auto recipe-footer">
                            <em>
                                {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 class="text-center py-5">No recipes found</h3>
        {% endif %}
    </div>
    <hr class="my-5">
</section>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                const targetId = this.getAttribute('href');
                if (targetId.length > 1) {
                    const targetElement = document.querySelector(targetId);

                    window.scrollTo({
                        top: targetElement.offsetTop,
                        behavior: 'smooth'
                    });
                }
            });
        });
    });
</script>
{% endblock %}

