
{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="text-center mx-auto py-5">Edit Category</h3>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('add_category') }}" method="POST">
                <!-- Category Name -->
                <div class="form-group mb-4">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-tags"></i></span>
                        <input type="text" id="categoy_name" name="category_name" minlength="3" maxlength="25" 
                                class="form-control" value="{{ category.category_name }}" required>
                    </div>
                </div>        
                <!-- Submit Button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">
                            Edit Category <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    // Ensure the form is initialized after the page-specific content is loaded
    document.addEventListener('DOMContentLoaded', initializeRecipeForm);
</script>
{% endblock %}