{% extends "base.html" %}
{% block content %}

    
    <div class="container bg-image">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            <div class="card card-form mt-2 mb-4">
                <div class="card-body rounded-top">
                    <h3 class="text-center text-uppercase py-3">Log In</h3>
                    <!-- Form -->
                    <form class="pb-3 px-3" method="POST" action="{{ url_for('login') }}">
                        <!-- Username -->
                        <div class="col-sm-12 d-flex justify-content-center align-items-center mb-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <i class="fas fa-user-circle fa-2x me-3"></i>
                                    <input type="text" name="username" id="username" minlength="5"
                                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}*$" class="form-control" required>
                                    <label class="form-label" for="username">Username</label>
                                </div>
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="col-sm-12 d-flex justify-content-center align-items-center pb-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <i class="fas fa-user-lock fa-2x me-3"></i>
                                    <input type="password" name="password" id="password" minlength="5" 
                                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}*$" class="form-control" required>
                                    <label class="form-label" for="password">Password</label>
                                </div>
                            </div>
                        </div>
                        
                        <!-- login Button-->
                        <div class="row">
                            <button type="submit" class="col-sm-12 btn-lrg text-shadow">
                                Log In
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p class="text-center text-muted">
                Don't have an account? 
                <a href="{{ url_for('register') }}">Register</a>
            </p>
        </div>
    </div>

{% endblock %}