{% extends "base.html" %}
{% block content %}

    <div class="container">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            <div class="card card-form mt-2 mb-4">
                <div class="card-body rounded-top">
                    <h3 class="text-center text-uppercase py-3">
                        {{username}}'s Profile
                    </h3>
                    <div class="pb-3 px-3">
                        {% for recipe in recipes %}
                            <div class="card recipe">
                                <h2><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a></h2>
                                <p>{{ recipe.recipe_description }}</p>
                                <p>Created by: {{ recipe.created_by }} on {{ recipe.created_at }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}