{% extends "base.html" %}
{% block content %}

<h3 class="text-center py-5">All Recipes</h3>
<div class="row justify-content-center">
    <div class="col-sm-10">
        <form action="{{ url_for('search_recipes') }}" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" id="search" name="search" minlength="3" 
                maxlength="50" placeholder="Search for a recipe..." value="{{ search }}" required>
                <div class="input-group-append">
                    <a href="{{ url_for('get_recipes')}}" class="btn btn-outline-secondary" type="submit">Search</a>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="my-5">

{% if recipes|length > 0 %}
<div class="row">
    {% for recipe in recipes %}
    <!-- card content-->
        <div class="col-sm-4">
            <div class="card"> 

            <!-- prep time-->
                <div class="row card-text justify-content-between">
                    <span class="col-sm-6">Prep Time: {{ recipe.prep_time }} Minutes</span>
                    <span class="col-sm-6">Cooking Time:
                        {% if recipe.cooking_time == 0 %}
                            <span>0 Minutes</span>
                        {% else %}
                            <span>{{ recipe.cooking_time }} Minutes</span>
                        {% endif %}
                    </span>
                </div>
            <!-- card image -->
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" 
                        alt="" class="card-img-top object-fit-sm-contain rounded mx-auto d-block">
                </div>

            <!-- recipe title -->
                <div class="card-body row">
                    <span class="card-title">
                        <h2><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a></h2>
                    </span>
                    <div class="col-sm-6">
                        <strong>{{ recipe.category_name }}</strong>
                    </div>
                    <div class="col-sm-6">
                        <p>{{ recipe.meal_type }}</p>
                    </div>
                    <hr>
                    <p><em>by: {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="text-center py-5">No recipes found</h3>
{% endif %}
{% endblock %}