{% extends "base.html" %}
{% block content %}

    {% if recipe %}
    <div class="row justify-content-center">
        <!-- card content-->
            <div class="col-sm-6">
                <div class="card"> 

                <!-- prep time-->
                    <div class="row card-text justify-content-evenly">
                        <span class="col-sm-4">Prep Time: {{ recipe.prep_time }} Minutes</span>
                        <span class="col-sm-4">Serving Size: {{ recipe.serving_size }}</span>
                        <span class="col-sm-4">Cooking Time:
                            {% if recipe.cooking_time == 0 %}
                                <span>0 Minutes</span>
                            {% else %}
                                <span>{{ recipe.cooking_time }} Minutes</span>
                            {% endif %}
                        </span>
                    </div>
                <!-- card image -->
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" 
                            alt="" class="card-img-top object-fit-sm-contain rounded mx-auto d-block">
                    </div>

                <!-- recipe title -->
                    <div class="card-body row">
                        <span class="card-title">
                            <h2>{{ recipe.recipe_name }}</h2>
                            <hr>
                            <p><em>by: {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
                        </span>
                        <div class="col-sm-6">
                            <strong>{{ recipe.category_name }}</strong>
                        </div>
                        <div class="col-sm-6">
                            <p>{{ recipe.meal_type }}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><b>Dietary Requirements: </b> {{ recipe.dietary }}</p>
                        </div>
                    <!-- recipe description -->
                        <p class="card-text">{{ recipe.recipe_description }}</p>
                    <!-- ingredients -->
                        <div class="card-text">
                            <h4>Ingredients</h4>
                            <hr>
                            {% for ingredient in recipe.main_ingredients %}
                                <li>
                                    {{ ingredient.capitalize() }}
                                </li>
                            {% endfor %}
                        </div>
                        <br>
                    <!-- recipe method -->
                        <div class="card-text">
                            <h4>Method</h4>
                            <hr>
                            {% for method in recipe.recipe_method %}
                                <li>
                                    {{ method.capitalize() }}
                                </li><br>
                            {% endfor %}
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}