{% extends "base.html" %}
{% block content %}

{% if recipe %}
<div class="row justify-content-center py-5">
    <!-- card content -->
    <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card card-style">
            <!-- card image with overlaid info boxes -->
            <div class="card-image position-relative">
                <img src="{{ url_for('static', filename='images/default.jpg') }}" 
                    alt="" class="card-img">
                <div class="info-bar d-flex justify-content-center">
                    <span class="info-box prep-time">Prep Time: {{ recipe.prep_time }} min</span>
                    <span class="info-box serving-size">Serving Size: {{ recipe.serving_size }}</span>
                    <span class="info-box cook-time">Cook Time:
                        {% if recipe.cooking_time == 0 %}
                            0 min
                        {% else %}
                            {{ recipe.cooking_time }} min
                        {% endif %}
                    </span>
                </div>
                <div class="button-bar d-flex justify-content-between w-100 px-3">
                    <!-- Like Button -->
                    <div class="like-section">
                        <button class="btn btn-outline-primary like-button" data-recipe-id="{{ recipe._id }}">Bite</button>
                        <i id="like-container" class="fa-solid fa-cookie-bite" style="color: #F7B65A"></i>
                        <span id="likes_count">{{ recipe.likes }}</span>
                    </div>
                    <!-- Save Button -->
                    <div class="save-section">
                        <button class="btn btn-outline-primary save-button" data-recipe-id="{{ recipe._id }}">Save</button>
                        <i id="save-container" class="fa-bookmark {% if is_saved %}fas{% else %}far{% endif %}"></i>
                        <span id="saves_count">{{ recipe.saves }}</span>
                    </div>
                </div>
            </div>

            <!-- recipe -->
            <div class="card-body row">
                <!-- recipe title -->
                <span class="card-title recipe-card-title">
                    <!-- Recipe Title -->
                    <h2>{{ recipe.recipe_name }}</h2>
                </span>
                <hr>
                <p class="auth-text"><em>by: {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
                <div class="col-sm-12 text-center">
                    <strong>{{ recipe.category_name }}</strong> | <span>{{ recipe.meal_type }}</span>
                </div>
                <div class="col-sm-12 text-center">
                    <p><b>Dietary Requirements: </b> {{ recipe.dietary }}</p>
                </div>
                <!-- recipe description -->
                <p class="card-text">{{ recipe.recipe_description }}</p>
                <!-- ingredients -->
                <div class="card-text">
                    <h4>Ingredients</h4>
                    <hr>
                    <ul>
                        {% for ingredient in recipe.main_ingredients %}
                            <li>
                                {{ ingredient.capitalize() }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
                <!-- recipe method -->
                <div class="card-text">
                    <h4>Method</h4>
                    <hr>
                    <ul>
                        {% for method in recipe.recipe_method %}
                            <li>
                                {{ method.capitalize() }}
                            </li><br>
                        {% endfor %}
                    </ul>
                </div>
                <!-- buttons -->
                <div class="card-text col-sm-12 text-center">
                    <a href="{{ url_for('get_recipes') }}" class="btn btn-primary">Back to Recipes</a>
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-outline-primary">Edit Recipe</a>
                        <!-- Delete Button-->
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" onclick="confirmDelete('{{ recipe._id }}', '{{ recipe.name }}')" class="btn btn-danger">
                            Delete Recipe <i class="fa-solid fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('.like-button').addEventListener('click', function () {
        const recipeId = this.getAttribute('data-recipe-id');
        const likeCountElement = document.getElementById('likes_count');
        const heartIcon = document.querySelector('#like-container .fa-heart');

        fetch(`/like_recipe/${recipeId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    likeCountElement.textContent = data.likes;
                    heartIcon.classList.toggle('liked');
                    this.textContent = heartIcon.classList.contains('liked') ? 'Unlike' : 'Like';
                } else {
                    console.error('Error:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    });

    document.addEventListener('DOMContentLoaded', function () {
        const saveButton = document.querySelector('.save-button');
        if (saveButton) {
            saveButton.addEventListener('click', function () {
                const recipeId = this.getAttribute('data-recipe-id');
                const saveIcon = document.querySelector('#save-container');

                fetch(`/save_recipe/${recipeId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            saveIcon.classList.toggle('fas');
                            saveIcon.classList.toggle('far');
                            this.textContent = data.action === 'saved' ? 'Unsave' : 'Save';
                        } else {
                            console.error('Save Error:', data.error);
                        }
                    })
                    .catch(error => console.error('Save Error:', error));
            });
        }
    });
</script>
{% endblock %}