{% extends "base.html" %}
{% block content %}

<!-- Hero -->
<header class="masthead d-flex align-items-center justify-content-center" id="hero">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto text-center" >
                    <h1 class="brand-heading hero-text hero-style-lg text-center" style="background-color: rgba(89, 61, 43, 0.5); padding: 3px;">
                        Unlock <strong>Your</strong> Kitchen <span class="underline">Creativity</span></h1>
                    <p class="intro-text text-center hero-style-sm">
                        Discover, share and save your favorite recipes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center anchor-wrapper">
        <a class="btn btn-outline-light btn-lg btn-floating" role="button" href="#recipes"
            style="color: var(--text-one)"
            id="scroll-to-recipes-button">
            <i class="fa fa-angle-double-down mt-2"></i>
        </a>
    </div>
</header>

<section id="recipes">
    <!-- search bar -->
    <div class="container">
        <h3 class="text-center py-5 mt-2 other-header-text">Recent Recipes</h3>
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-6">
                <form action="{{ url_for('search_recipes') }}#recipes" method="GET">
                    <div class="input-group search-form-container">
                        <input type="text" class="search-input" id="search" name="search" minlength="3"
                            maxlength="50" placeholder="Search for a recipe..." value="{{ search }}" required>
                        <div class="input-group-append">
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 show-all-container">
                <form action="{{ url_for('all_recipes') }}" method="GET"
                    class="mt-2 search-button justify-content-center">
                    <button type="submit" class="show-all-button">Show All Recipes</button>
                </form>
            </div>
            <div class="col-md-6 show-all-container">
                <form action="{{ url_for('get_recipes') + '#recipes' }}" method="GET"
                    class="mt-2 search-button justify-content-center">
                    <button type="submit" class="show-all-button">Reset Search</button>
                </form>
            </div>
        </div>
    </div>
    <hr class="my-5">

    {% if search %}
    <div class="container">
        <h2 class="text-center mb-4">Search Results for "{{ search }}"</h2>
        {% if recipes|length > 0 %}
        <p class="text-center">Found {{ recipes|length }} recipes</p>
        {% else %}
        <p class="text-center">No recipes found for "{{ search }}"</p>
        {% endif %}
    </div>
    {% endif %}

    <!-- recipe cards -->
    <div class="col-sm-8 offset-sm-2">
        {% if recipes|length > 0 %}
        <div class="row g-4">
            {% for recipe in recipes %}
            <!-- card content-->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="card card-style h-100 recipe-card rounded">
                    <!-- card image -->
                    <div class="position-relative">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                            <img src="{{ url_for('static', filename='images/default.jpg') }}" alt=""
                            class="card-img">
                        </a>
                        <span class="badge recipe-badge top-left-image text-center ms-0 hide-on-small" style="
                            color: var(--text-two);
                            background-color: #E8DFC9;">
                            Prep: {{ recipe.prep_time }} Minutes
                        </span>
                        <span class="badge recipe-badge top-right-image text-center me-0 hide-on-small" style="
                            color: var(--text-two);
                            background-color: #E8DFC9;">
                            Cook:
                            {% if recipe.cooking_time == 0 %}
                            <span>0 Minutes</span>
                            {% else %}
                            <span>{{ recipe.cooking_time }} Minutes</span>
                            {% endif %}
                        </span>
                    </div>
                    <span class="col-sm-12 bottom-right-image text-end me-2 p-1">
                        <i id="like-container" class="fa-solid fa-cookie-bite p-1" style="color: #F7B65A"></i>
                        <span id="likes_count" class="text-end">
                            {{ recipe.likes }}
                        </span>
                    </span>
                    <div class="card-body d-flex flex-column">
                        <div class="badge-container d-flex justify-content-between mb-2">
                            <span class="badge recipe-badge text-truncate">
                                {{ recipe.category_name }}
                            </span>
                            <span class="badge recipe-badge text-truncate">
                                {{ recipe.meal_type }}
                            </span>
                        </div>
                        <span class="card-title">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                                class="text-start recipe-card-title">
                                {{ recipe.recipe_name }}
                            </a>
                        </span>
                        <div class="col-sm-12  hide-on-small">
                            <p class="text-start">{{ recipe.recipe_description }}</p>
                        </div>
                        <p class="pb-1 mt-auto recipe-footer hide-on-small">
                            <em>
                                {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 class="text-center py-5">No recipes found</h3>
        {% endif %}
    </div>
    <hr class="my-5">
</section>

<!-- how it works -->
<section id="how-it-works">
    <div class="container">
        <h3 class="text-center py-5 other-header-text" id="how-it-works">
            How it works
        </h3>
        <div class="how-it-works-container">
                <div class="step-circle">
                    <h5><strong>Sign Up</strong></h5>
                    <p style="font-size:medium">Create an account and join <br> our community.</p>
                </div>
                <div class="step-circle">
                    <h5><strong>Share Recipes</strong></h5>
                    <p style="font-size:medium">Add your favourite recipes <br> and share them with others.</p>
                </div>
                <div class="step-circle">
                    <h5><strong>Save Recipes</strong></h5>
                    <p style="font-size:medium">Keep track of your <br> favourite recipes and <br>access them anytime.</p>
                </div>
                <div class="step-circle">
                    <h5><strong>Enjoy Cooking!</strong></h5>
                    <p style="font-size:medium">Get inspired and cook <br> delicious meals with ease.</p>
                </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                const targetId = this.getAttribute('href');
                if (targetId.length > 1) {
                    const targetElement = document.querySelector(targetId);

                    window.scrollTo({
                        top: targetElement.offsetTop,
                        behavior: 'smooth'
                    });
                }
            });
        });
    });
</script>
{% endblock %}

