{% extends "base.html" %}
{% block content %}

    {% if recipe %}
    <div class="row justify-content-center py-5">
        <!-- card content-->
            <div class="col-sm-6">
                <div class="card"> 

                <!-- prep time-->
                    <div class="row card-text justify-content-evenly">
                        <span class="col-sm-4">Prep Time: {{ recipe.prep_time }} Minutes</span>
                        <span class="col-sm-4">Serving Size: {{ recipe.serving_size }}</span>
                        <span class="col-sm-4">Cooking Time:
                            {% if recipe.cooking_time == 0 %}
                                <span>0 Minutes</span>
                            {% else %}
                                <span>{{ recipe.cooking_time }} Minutes</span>
                            {% endif %}
                        </span>
                    </div>
                <!-- card image -->
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" 
                            alt="" class="card-img-top object-fit-sm-contain rounded mx-auto d-block">
                    </div>

                <!-- recipe -->
                    <div class="card-body row">
                    <!-- recipe title -->
                        <span class="card-title">
                            <!-- Like Button -->
                            <span class="d-flex flex-row-reverse">
                                <span class="me-2">
                                    <button class="like-button text-end" data-recipe-id="{{ recipe._id }}">Bite</button>
                                </span>
                                <span class="ms-2 me-3 mt-1">
                                    <i id="like-container" class="fa-solid fa-cookie-bite" style="color: #F7B65A"></i>
                                    <span id="likes_count" class="text-end">
                                        {{ recipe.likes }}
                                    </span>
                                </span>
                            </span>
                            <!-- Save Button -->
                            <span class="d-flex flex-row-reverse">
                                <span class="me-2">
                                    <button class="save-button text-end" data-recipe-id="{{ recipe._id }}">Save</button>
                                </span>
                                <span class="ms-2 me-3 mt-1">
                                    <i id="save-container" 
                                        class="fa-bookmark 
                                            {% if is_saved %}
                                                fas
                                            {% else %}
                                                far
                                            {% endif %}">
                                    </i>
                                    <span id="saves_count" class="text-end">
                                        {{ recipe.saves }}
                                    </span>
                                </span>
                            </span>
                            <!-- Recipe Title -->
                            <h2>{{ recipe.recipe_name }}</h2>
                            </span>
                            <hr>
                            <p><em>by: {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
                        </span>
                        <div class="col-sm-6">
                            <strong>{{ recipe.category_name }}</strong>
                        </div>
                        <div class="col-sm-6">
                            <p>{{ recipe.meal_type }}</p>
                        </div>
                        <div class="col-sm-12">
                            <p><b>Dietary Requirements: </b> {{ recipe.dietary }}</p>
                        </div>
                    <!-- recipe description -->
                        <p class="card-text">{{ recipe.recipe_description }}</p>
                    <!-- ingredients -->
                        <div class="card-text">
                            <h4>Ingredients</h4>
                            <hr>
                            {% for ingredient in recipe.main_ingredients %}
                                <li>
                                    {{ ingredient.capitalize() }}
                                </li>
                            {% endfor %}
                        </div>
                        <br>
                    <!-- recipe method -->
                        <div class="card-text">
                            <h4>Method</h4>
                            <hr>
                            {% for method in recipe.recipe_method %}
                                <li>
                                    {{ method.capitalize() }}
                                </li><br>
                            {% endfor %}
                        </div>
                    <!-- buttons -->
                        <div class="card-text col-sm-8 offset-sm-2">
                            {% if session.user|lower == recipe.created_by|lower %}
                                <a href="{{ url_for('get_recipes') }}" class="btn btn-primary">Back to Recipes</a>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">Edit Recipe</a>
                                <!-- Delete Button-->
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" onclick="confirmDelete('{{ recipe._id }}', '{{ recipe.name }}')" class="btn btn-danger">
                                    Delete Recipe <i class="fa-solid fa-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('.like-button').addEventListener('click', function () {
        const recipeId = this.getAttribute('data-recipe-id');
        const likeCountElement = document.getElementById('likes_count');
        const heartIcon = document.querySelector('#like-container .fa-heart');

        fetch(`/like_recipe/${recipeId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update the likes count
                    likeCountElement.textContent = data.likes;

                    // Toggle the 'liked' class on the heart icon
                    heartIcon.classList.toggle('liked');

                    // Update button text
                    this.textContent = heartIcon.classList.contains('liked') ? 'Unlike' : 'Like';
                } else {
                    console.error('Error:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    });

    document.addEventListener('DOMContentLoaded', function () {
        const saveButton = document.querySelector('.save-button');
        if (saveButton) {
            saveButton.addEventListener('click', function () {
                const recipeId = this.getAttribute('data-recipe-id');
                const saveIcon = document.querySelector('#save-container');

                fetch(`/save_recipe/${recipeId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Toggle between solid and hollow icons
                            saveIcon.classList.toggle('fas');
                            saveIcon.classList.toggle('far');

                            // Update button text
                            this.textContent = data.action === 'saved' ? 'Unsave' : 'Save';
                        } else {
                            console.error('Save Error:', data.error);
                        }
                    })
                    .catch(error => console.error('Save Error:', error));
            });
        }
    });
</script>
{% endblock %}