{% extends "base.html" %}
{% block content %}

<!-- Hero -->
<header class="masthead text-light d-flex align-items-center justify-content-center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto text-center">
                    <h1 class="brand-heading hero-text text-center"
                        style="color: #f1f1f1; font-size: 3rem;">
                        Unlock Your <strong>Kitchen</strong> Creativity</h1>
                    <p class="intro-text text-center"
                        style="color: #f1f1f1">
                        Discover, share and save your favorite recipes.
                    </p>
                    <div class="col-sm-12 col-lg-8 mx-4 text-center">
                        <a class="btn btn-outline-light btn-lg btn-floating" role="button" href="#recipes"
                            style="position: absolute; bottom: 10px">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- search bar -->
<h3 class="text-center py-5 other-header-text" id="recipes">All Recipes</h3>
<div class="row justify-content-center">
    <div class="col-sm-10">
        <form action="{{ url_for('search_recipes') }}" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" id="search" name="search" minlength="3" maxlength="50"
                    placeholder="Search for a recipe..." value="{{ search }}" required>
                <div class="input-group-append">
                    <a href="{{ url_for('get_recipes')}}" class="btn" type="submit">Search</a>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="my-5">

<!-- recipe cards -->
<div class="col-sm-8 offset-sm-2" id="">
    {% if recipes|length > 0 %}
    <div class="row">
        {% for recipe in recipes %}
        <!-- card content-->
        <div class="col-sm-4 mb-3">
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                <div class="card card-style h-100">
                    <!-- card image -->
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" alt=""
                            class=" mx-auto d-block"
                            style="height: 400px; width: 100%;">
                        <span class="col-sm-5 top-left-image text-start ms-2">
                            Prep: {{ recipe.prep_time }} Minutes
                        </span>
                        <span class="col-sm-5 top-right-image text-end me-2">Cook:
                            {% if recipe.cooking_time == 0 %}
                                <span>0 Minutes</span>
                            {% else %}
                                <span>{{ recipe.cooking_time }} Minutes</span>
                            {% endif %}
                        </span>
                        <span class=" col-sm-12 bottom-right-image text-end me-2">
                            <i id="like-container" class="fa-solid fa-heart"></i>
                            <span id="likes_count" class="text-end">
                                {{ recipe.likes }}
                            </span>
                        </span>
                    </div>
                    <!-- recipe title -->
                    <div class="card-body row">
                        <div class="col-sm-6">
                            <strong>{{ recipe.category_name }}</strong>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-end">{{ recipe.meal_type }}</p>
                        </div>
                        <span class="card-title">
                            <h4 class="text-start">
                                {{ recipe.recipe_name }}
                            </h4>
                        </span>
                        <div class="col-sm-12">
                            <p class="text-start">{{ recipe.recipe_description }}</p>
                        </div>
                        <hr>
                        <p class="text-start"><em>by: {{ recipe.created_by }} on {{ recipe.created_at }}</em></p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center py-5">No recipes found</h3>
    {% endif %}
</div>

<!-- how it works -->
<div class="row">
    <h3 class="col-sm-12 text-center py-5" id="how-it-works">
        How it works
    </h3>
    <div class="col-sm-10 offset-sm-1 text-center py-5">
        <div class="row">
            <div class="col-sm-3">
                <h5><strong>Sign Up</strong></h5>
                <p style="font-size:medium">Create an account and join <br> our community.</p>
            </div>
            <div class="col-sm-3">
                <h5><strong>Share Recipes</strong></h5>
                <p style="font-size:medium">Add your favourite recipes <br> and share them with others.</p>
            </div>
            <div class="col-sm-3">
                <h5><strong>Save Recipes</strong></h5>
                <p style="font-size:medium">Keep track of your <br> favourite recipes and <br>access them anytime.</p>
            </div>
            <div class="col-sm-3">
                <h5><strong>Enjoy Cooking!</strong></h5>
                <p style="font-size:medium">Get inspired and cook <br> delicious meals with ease.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

